# Importing Libraries

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pylab as plt
from IPython.display import display

# Reading and copying the data

In [2]:
data = pd.read_excel('Data_Survey_Monkey_Output.xlsx')
display(data)

,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Question 1 - Response,Question 1 - Response.1,Question 3 - Open-Ended Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5379192392,Infrastructure,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,NaN,Answer 6,NaN,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2658722536,Finance,Staff,NaN,NaN,10+ years,Full time Employee,Answer 4,Answer 2,NaN,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4044163394,Infrastructure,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Answer 5,Answer 7,NaN,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5535865599,Infrastructure,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Answer 1,Answer 1,Answer 7,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3356802928,Port Operations,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,NaN,Answer 3,Answer 5,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,7940065082,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Answer 3,NaN,Answer 2,...,Answer 1,Answer 1,Answer 3,Answer 6,Answer 6,Answer 8,NaN,NaN,NaN,Answer 8
194,5157705612,Finance,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,NaN,NaN,Answer 7,...,Answer 5,NaN,Answer 5,NaN,NaN,Answer 2,NaN,NaN,NaN,Answer 6
195,9920755555,Port Operations,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,Answer 7,Answer 2,...,NaN,Answer 7,NaN,NaN,NaN,NaN,NaN,NaN,Answer 3,NaN
196,6638341389,Infrastructure,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,NaN,Answer 8,...,Answer 2,NaN,Answer 3,Answer 5,NaN,Answer 8,Answer 3,Answer 3,NaN,NaN
197,8114622230,Information Technology,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,NaN,Answer 1,Answer 2,...,Answer 3,NaN,Answer 7,NaN,NaN,NaN,NaN,Answer 3,NaN,NaN

In [3]:
data_modified = data.copy()
data_modified

,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Question 1 - Response,Question 1 - Response.1,Question 3 - Open-Ended Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5379192392,Infrastructure,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,NaN,Answer 6,NaN,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2658722536,Finance,Staff,NaN,NaN,10+ years,Full time Employee,Answer 4,Answer 2,NaN,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4044163394,Infrastructure,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Answer 5,Answer 7,NaN,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5535865599,Infrastructure,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Answer 1,Answer 1,Answer 7,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3356802928,Port Operations,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,NaN,Answer 3,Answer 5,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,7940065082,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Answer 3,NaN,Answer 2,...,Answer 1,Answer 1,Answer 3,Answer 6,Answer 6,Answer 8,NaN,NaN,NaN,Answer 8
194,5157705612,Finance,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,NaN,NaN,Answer 7,...,Answer 5,NaN,Answer 5,NaN,NaN,Answer 2,NaN,NaN,NaN,Answer 6
195,9920755555,Port Operations,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,Answer 7,Answer 2,...,NaN,Answer 7,NaN,NaN,NaN,NaN,NaN,NaN,Answer 3,NaN
196,6638341389,Infrastructure,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,NaN,Answer 8,...,Answer 2,NaN,Answer 3,Answer 5,NaN,Answer 8,Answer 3,Answer 3,NaN,NaN
197,8114622230,Information Technology,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,NaN,Answer 1,Answer 2,...,Answer 3,NaN,Answer 7,NaN,NaN,NaN,NaN,Answer 3,NaN,NaN

# Data Cleaning

In [4]:
id = list(data_modified.columns[0:7])
id

['Respondent ID',
 'Division',
 'Which of the following best describes your position level?',
 'Which generation are you apart of?',
 'Please select the gender in which you identify.',
 'Which duration range best aligns with your tenure at your company?',
 'Which of the following best describes your employment type?']

In [5]:
value = list(data_modified.columns[7:])
value

['Question 1 - Response',
 'Question 1 - Response.1',
 'Question 3 - Open-Ended Response',
 'Question 4 - Response',
 'Question 4 - Other (please specify)',
 'Question 5 - Response 1',
 'Question 5 - Response 2',
 'Question 5 - Response 3',
 'Question 5 - Response 4',
 'Question 5 - Response 5',
 'Question 5 - Response 6',
 'Question 6 - Response 1',
 'Question 6 - Response 2',
 'Question 6 - Response 3',
 'Question 6 - Response 4',
 'Question 6 - Response 5',
 'Question 6 - Response 6',
 'Question 7 - Response 1',
 'Question 7 - Unscheduled',
 'Question 8 - Response 1',
 'Question 8 - Response 2',
 'Question 8 - Response 3',
 'Question 8 - Response 4',
 'Question 9 - Response 1',
 'Question 9 - Response 2',
 'Question 9 - Response 3',
 'Question 9 - Response 4',
 'Question 10 - Response 1',
 'Question 10 - Response 2',
 'Question 10 - Response 3',
 'Question 10 - Response 4',
 'Question 10 - Response 5',
 'Question 11 - Reponse 1',
 'Question 11 - Response 2',
 'Question 12 - Response',
 'Question 13 - Response',
 'Question 14 - Response',
 'Question 15 - Response',
 'Question 16 - Response',
 'Question 17 - Response',
 'Question 18 - Response',
 'Question 19 - Response',
 'Question 19 - Other (please specify)',
 'Question 20 - Response',
 'Question 21 - Response',
 'Question 22 - Reponse 1',
 'Question 22 - Reponse 2',
 'Question 23 - Response',
 'Question 24 - Response 1',
 'Question 24 - Response 2',
 'Question 24 - Response 3',
 'Question 24 - Response 4',
 'Question 24 - Response 5',
 'Question 25 - Response 1',
 'Question 25 - Response 2',
 'Question 25 - Response 3',
 'Question 25 - Response 4',
 'Question 25 - Response 5',
 'Question 25 - Response 6',
 'Question 25 - Response 7',
 'Question 25 - Response 8',
 'Question 25 - Response 9',
 'Question 26 - Response 1',
 'Question 26 - Response 2',
 'Question 26 - Response 3',
 'Question 26 - Response 4',
 'Question 27 - Response 1',
 'Question 27 - Response 2',
 'Question 28 - Response',
 'Question 29 - Response 1',
 'Question 29 - Response 2',
 'Question 29 - Response 3',
 'Question 29 - Response 4',
 'Question 29 - Response 5',
 'Question 29 - Response 6',
 'Question 29 - Response 7',
 'Question 29 - Response 8',
 'Question 29 - Response 9',
 'Question 29 - Response 10',
 'Question 29 - Response 11',
 'Question 29 - Response 12',
 'Question 29 - Response 13',
 'Question 29 - Response 14',
 'Question 30 - Response 1',
 'Question 30 - Response 2',
 'Question 30 - Response 3']

In [6]:
data_melted = data_modified.melt(id_vars = id , value_vars = value , var_name = 'Question - Subquestion' , value_name='Answer' )
data_melted

,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Question - Subquestion,Answer
0,5379192392,Infrastructure,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN
1,2658722536,Finance,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4
2,4044163394,Infrastructure,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5
3,5535865599,Infrastructure,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1
4,3356802928,Port Operations,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 1 - Response,NaN
...,...,...,...,...,...,...,...,...,...
17023,7940065082,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8
17024,5157705612,Finance,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6
17025,9920755555,Port Operations,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN
17026,6638341389,Infrastructure,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN
17027,8114622230,Information Technology,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN

# Creating column for total respondants for each question

In [7]:
Total_Respondants = data_melted.groupby('Question - Subquestion')['Answer'].count()
Total_Respondants

Question - Subquestion
Question 1 - Response       119
Question 1 - Response.1     118
Question 10 - Response 1    113
Question 10 - Response 2    117
Question 10 - Response 3    123
                           ...
Question 8 - Response 4     104
Question 9 - Response 1     121
Question 9 - Response 2     113
Question 9 - Response 3     108
Question 9 - Response 4     111
Name: Answer, Length: 86, dtype: int64

In [8]:
df = pd.DataFrame(data=Total_Respondants)
df

                          Answer
Question - Subquestion
Question 1 - Response        119
Question 1 - Response.1      118
Question 10 - Response 1     113
Question 10 - Response 2     117
Question 10 - Response 3     123
...                          ...
Question 8 - Response 4      104
Question 9 - Response 1      121
Question 9 - Response 2      113
Question 9 - Response 3      108
Question 9 - Response 4      111

[86 rows x 1 columns]

# Merging the new column for the dataframe

In [9]:
data_merged = pd.merge(left = data_melted ,right = df , how = 'left' , on = 'Question - Subquestion') 
data_merged

,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Question - Subquestion,Answer_x,Answer_y
0,5379192392,Infrastructure,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN,119
1,2658722536,Finance,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,119
2,4044163394,Infrastructure,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,119
3,5535865599,Infrastructure,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,119
4,3356802928,Port Operations,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 1 - Response,NaN,119
...,...,...,...,...,...,...,...,...,...,...
17023,7940065082,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,112
17024,5157705612,Finance,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,112
17025,9920755555,Port Operations,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,112
17026,6638341389,Infrastructure,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,112
17027,8114622230,Information Technology,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN,112

In [10]:
data_merged.rename(columns={'Answer_x': 'Answer', 'Answer_y': 'Total Respondants'}, inplace=True)
display(data_merged)

,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Question - Subquestion,Answer,Total Respondants
0,5379192392,Infrastructure,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1 - Response,NaN,119
1,2658722536,Finance,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,119
2,4044163394,Infrastructure,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,119
3,5535865599,Infrastructure,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,119
4,3356802928,Port Operations,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 1 - Response,NaN,119
...,...,...,...,...,...,...,...,...,...,...
17023,7940065082,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,112
17024,5157705612,Finance,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,112
17025,9920755555,Port Operations,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,112
17026,6638341389,Infrastructure,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 30 - Response 3,NaN,112
17027,8114622230,Information Technology,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,Question 30 - Response 3,NaN,112

# Removing Nulls

In [11]:
data_merged.isnull().sum()

Respondent ID                                                            0
Division                                                                 0
Which of the following best describes your position level?             172
Which generation are you apart of?                                     172
Please select the gender in which you identify.                        172
Which duration range best aligns with your tenure at your company?       0
Which of the following best describes your employment type?              0
Question - Subquestion                                                   0
Answer                                                                7364
Total Respondants                                                        0
dtype: int64

In [12]:
data_cleaned = data_merged.dropna(subset=['Answer']).reset_index()
data_cleaned

,index,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Question - Subquestion,Answer,Total Respondants
0,1,2658722536,Finance,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,119
1,2,4044163394,Infrastructure,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,119
2,3,5535865599,Infrastructure,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,119
3,5,3399511781,Infrastructure,Staff,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 8,119
4,6,9860597462,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 1 - Response,Answer 8,119
...,...,...,...,...,...,...,...,...,...,...,...
9659,17017,9735550076,People,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 30 - Response 3,Answer 5,112
9660,17020,7325851635,Infrastructure,Manager,Millennial (born between 1981-2000),Prefer not to answer,3-5 years,Full time Employee,Question 30 - Response 3,Answer 5,112
9661,17021,3370365802,Port Security & Emergency Operations,Staff,Generation X (born between 1965-1980),Female,0-2 years,Full time Employee,Question 30 - Response 3,Answer 6,112
9662,17023,7940065082,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,112
9663,17024,5157705612,Finance,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,112

In [13]:
data_cleaned = data_cleaned.drop('index',axis = 1)
data_cleaned

,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Question - Subquestion,Answer,Total Respondants
0,2658722536,Finance,Staff,NaN,NaN,10+ years,Full time Employee,Question 1 - Response,Answer 4,119
1,4044163394,Infrastructure,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 5,119
2,5535865599,Infrastructure,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,119
3,3399511781,Infrastructure,Staff,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1 - Response,Answer 8,119
4,9860597462,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 1 - Response,Answer 8,119
...,...,...,...,...,...,...,...,...,...,...
9659,9735550076,People,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 30 - Response 3,Answer 5,112
9660,7325851635,Infrastructure,Manager,Millennial (born between 1981-2000),Prefer not to answer,3-5 years,Full time Employee,Question 30 - Response 3,Answer 5,112
9661,3370365802,Port Security & Emergency Operations,Staff,Generation X (born between 1965-1980),Female,0-2 years,Full time Employee,Question 30 - Response 3,Answer 6,112
9662,7940065082,Infrastructure,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Question 30 - Response 3,Answer 8,112
9663,5157705612,Finance,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,Question 30 - Response 3,Answer 6,112

# Creating new column of the no. of employees with the same answer for a certain question

In [14]:
same_answer = data_cleaned.groupby(['Question - Subquestion','Answer']).count().reset_index()
same_answer

,Question - Subquestion,Answer,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Total Respondants
0,Question 1 - Response,Answer 1,14,14,14,14,14,14,14,14
1,Question 1 - Response,Answer 2,10,10,10,10,9,10,10,10
2,Question 1 - Response,Answer 3,13,13,13,13,13,13,13,13
3,Question 1 - Response,Answer 4,17,17,17,16,16,17,17,17
4,Question 1 - Response,Answer 5,22,22,21,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...
683,Question 9 - Response 4,Answer 4,16,16,16,16,16,16,16,16
684,Question 9 - Response 4,Answer 5,13,13,13,13,13,13,13,13
685,Question 9 - Response 4,Answer 6,14,14,14,14,14,14,14,14
686,Question 9 - Response 4,Answer 7,12,12,12,12,12,12,12,12
687,Question 9 - Response 4,Answer 8,19,19,19,18,18,19,19,19

In [15]:
same_answer.rename(columns={'Total Respondants': 'Same Answers'}, inplace=True)
display(same_answer)

,Question - Subquestion,Answer,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Same Answers
0,Question 1 - Response,Answer 1,14,14,14,14,14,14,14,14
1,Question 1 - Response,Answer 2,10,10,10,10,9,10,10,10
2,Question 1 - Response,Answer 3,13,13,13,13,13,13,13,13
3,Question 1 - Response,Answer 4,17,17,17,16,16,17,17,17
4,Question 1 - Response,Answer 5,22,22,21,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...
683,Question 9 - Response 4,Answer 4,16,16,16,16,16,16,16,16
684,Question 9 - Response 4,Answer 5,13,13,13,13,13,13,13,13
685,Question 9 - Response 4,Answer 6,14,14,14,14,14,14,14,14
686,Question 9 - Response 4,Answer 7,12,12,12,12,12,12,12,12
687,Question 9 - Response 4,Answer 8,19,19,19,18,18,19,19,19

In [16]:
same_answer = same_answer.drop(same_answer.columns[2:9] , axis=1)
same_answer

      Question - Subquestion    Answer  Same Answers
0      Question 1 - Response  Answer 1            14
1      Question 1 - Response  Answer 2            10
2      Question 1 - Response  Answer 3            13
3      Question 1 - Response  Answer 4            17
4      Question 1 - Response  Answer 5            22
..                       ...       ...           ...
683  Question 9 - Response 4  Answer 4            16
684  Question 9 - Response 4  Answer 5            13
685  Question 9 - Response 4  Answer 6            14
686  Question 9 - Response 4  Answer 7            12
687  Question 9 - Response 4  Answer 8            19

[688 rows x 3 columns]

In [17]:
data_final = pd.merge(left = data_cleaned ,right = same_answer , how = 'right' , on = ['Question - Subquestion' , 'Answer']) 
data_final

,Respondent ID,Division,Which of the following best describes your position level?,Which generation are you apart of?,Please select the gender in which you identify.,Which duration range best aligns with your tenure at your company?,Which of the following best describes your employment type?,Question - Subquestion,Answer,Total Respondants,Same Answers
0,5535865599,Infrastructure,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1 - Response,Answer 1,119,14
1,8035211358,Commercial,Manager,Prefer not to answer,Prefer not to answer,5-10 years,Full time Employee,Question 1 - Response,Answer 1,119,14
2,5875585727,Information Technology,Staff,Generation X (born between 1965-1980),Male,10+ years,Full time Employee,Question 1 - Response,Answer 1,119,14
3,7481772195,Information Technology,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 1 - Response,Answer 1,119,14
4,2618791107,Infrastructure,Manager,Millennial (born between 1981-2000),Male,0-2 years,Full time Employee,Question 1 - Response,Answer 1,119,14
...,...,...,...,...,...,...,...,...,...,...,...
9659,3206389468,Commercial,Manager,Generation X (born between 1965-1980),Male,10+ years,Full time Employee,Question 9 - Response 4,Answer 8,111,19
9660,1264208927,Port Security & Emergency Operations,Staff,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,Question 9 - Response 4,Answer 8,111,19
9661,9137601822,Finance,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,Question 9 - Response 4,Answer 8,111,19
9662,2254451126,Port Security & Emergency Operations,Staff,Millennial (born between 1981-2000),Male,0-2 years,Full time Employee,Question 9 - Response 4,Answer 8,111,19
9663,5953471955,People,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 9 - Response 4,Answer 8,111,19

# Output as CSV file

In [18]:
data_final.to_csv('Data_Survey_Monkey_Final.csv',header=True ,index=False)